
/* Default++ by Sangelo */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* User Modal and Popup */
:root {
  --playing: #7289DA;
  --spotify: #1DB954;
  --streaming: #593695;
  --xbox: #53a853;
  --background-tertiary-alt: #36393F;
  --border-radius: 10px;
}

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(#000, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: 0.5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent 80%);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

:root .userPopout-3XzG_A {
  width: unset;
  max-width: 800px;
  max-height: 400px;
  flex-direction: row;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  transform: translateZ(0);
}
:root .userPopout-3XzG_A .header-2BwW8b {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
:root .userPopout-3XzG_A .header-2BwW8b .wrapper-3t9DeA::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position) center;
  background-image: var(--user-background);
  -webkit-mask-image: linear-gradient(#000, transparent);
}
:root .userPopout-3XzG_A .scroller-2FKFPG, :root .userPopout-3XzG_A .footer-1fjuF6 {
  z-index: 1;
}
:root .userPopout-3XzG_A .headerNormal-T_seeN {
  background-color: var(--background-primary);
}
:root .userPopout-3XzG_A .headerPlaying-j0WQBV {
  background-color: var(--playing);
}
:root .userPopout-3XzG_A .headerSpotify-zpWxgT {
  background-color: var(--spotify);
}
:root .userPopout-3XzG_A .headerStreaming-2FjmGz {
  background-color: var(--streaming);
}
:root .userPopout-3XzG_A .headerXbox-3G-4PF {
  background-color: var(--xbox);
}
:root .userPopout-3XzG_A .body-3iLsc4 {
  background-color: var(--background-secondary);
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L {
  flex-direction: column;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleCircle-3xAZ1j::before {
  content: "ROLES";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.5;
  pointer-events: none;
}

:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleCircle-3xAZ1j {
  width: 0;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleName-32vpEy {
  text-align: center;
  width: 100%;
  overflow: visible;
  font-weight: bold;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000);
  opacity: 0.5;
  pointer-events: none;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleCircle-3xAZ1j {
  width: 0;
}
:root .userPopout-3XzG_A .body-3iLsc4 .rolesList-22qj2L .roleName-32vpEy {
  text-align: center;
  width: 100%;
  overflow: visible;
  font-weight: bold;
}
:root .userPopout-3XzG_A .footer-1fjuF6 {
  display: none;
}

:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx {
  border-top: none;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS {
  justify-content: flex-start;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 {
  position: relative;
  width: 110px;
  flex-direction: column;
  overflow: hidden;
  border: none;
  margin: 5px;
  padding: 10px;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F {
  position: relative;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  z-index: 2;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountNameInner-1phBvE {
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  overflow: visible;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountNameInner-1phBvE .connectedAccountName-f8AEe2 {
  text-align: center;
  margin: 0;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountNameInner-1phBvE span {
  display: none;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .anchor-3Z-8Bb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .anchor-3Z-8Bb > svg {
  display: none;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F + .connectedAccountNameInner-1phBvE::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -10px;
  z-index: -1;
  width: 130px;
  height: 91px;
  border-radius: var(--border-radius);
  opacity: 0.4;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #191717;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #1ED760;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #000000;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/0d44ba28e39303de3832db580a252456.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #5DC21E;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #FF4500;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #553092;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/4662875160dc4c56954003ebda995414.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #1DA1F2;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #D9252A;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #009AE5;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #2D3283;
}
:root .modal-3c3bKg .root-SR8cQa .userInfoSection-2acyCx .connectedAccounts-repVzS .connectedAccount-36nQx7 .connectedAccountIcon-3P3V6F[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + .connectedAccountNameInner-1phBvE::before {
  background-color: #CEA146;
}

/* Volume bar */
.mini-dmm9yo { height: 25px;}
.slider-1PF9SW:not(.mini-dmm9yo) { height: 50px;}
.theme-dark .bar-2Qqk5Z { height: 15px; background-color: var(--background-secondary);}
.slider-1PF9SW .grabber-3mFHz2 {
  background-color: transparent;
  box-shadow: none; border: none;
}
.barFill-23-gu- { border-radius: 0 3px 3px 0;}
.markDash-3hAolZ { height: 22px;}

/* Blurple the grey */
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV, .theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover { background-color: var(--background-accent);}
/* Roles selector */
.container-3XJ8ns {
  z-index: 1003;
  border: none;
  padding: 0;
  background-color: #191f2e;
}
.container-3XJ8ns .container-cMG81i {
  border-radius: 5px 5px 0 0;
}
.container-3XJ8ns .list-1xE9GQ {
  margin: 0;
  padding: 0;
}
.container-3XJ8ns .item-2J2GlB {
  border-radius: 0;
}
.popoutRoleDot-1XPcoA { width: 0; border: none; margin: 0;}

.item-2J2GlB {
  margin: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.popoutRoleDot-1XPcoA:before {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  z-index: -1;
}

/* Roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.roleCircle-3xAZ1j {
  width: var(--role-circle) !important;
  height: var(--role-circle) !important;
}

.roleCircle-3xAZ1j::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.5;
  z-index: -1;
}
